# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore .idea configuration folder
.idea

# Ignore personal inputs
inputs/*/day-*.txt
inputs/everybodycodes

# Ignore personal token
.TOKEN
.EVERYBODY-CODES-TOKEN
.EVERYBODY-CODES-SEED

# Ignore .kotlin
.kotlin
*.dll
out