# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore .idea configuration folder
.idea

# Ignore personal inputs
inputs/*/day-*.txt

# Ignore personal token
.TOKEN

# Ignore built getInput
getInput.jar

# Ignore .kotlin
.kotlin