# Default ignored files
/shelf/
/*.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/codeStyles
/inspectionProfiles
/modules
*.iml